@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@300;400;600&family=JetBrains+Mono:wght@400;500&family=Manrope:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply border-slate-200;
    }
    body {
        @apply bg-slate-50 text-slate-900 font-sans;
        margin: 0;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

@layer utilities {
    .font-mono {
        font-family: 'Azeret Mono', monospace;
    }
    .font-sans {
        font-family: 'Manrope', sans-serif;
    }
    .font-code {
        font-family: 'JetBrains Mono', monospace;
    }
}
